/* header {
    height: 10vh;
} */
.resaltador {
    transition: .4s;
    }
    .resaltador:hover {
    transition: .4s;
    background-color: rgba(3, 169, 244, 0.7) ;
    }

.generalContainer { 
    height: 90vh;
    
}
.productsContainer{
    height: 100%;
    background-color: lightgrey;
    overflow-y: scroll;
}
.cartContainer{
    height: 100%;
    /* background-color: #dee2e6; */
    overflow-y: scroll;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    
    
}
.productImg{
    max-height: 250px;
}